<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Música</title>
    <script src="https://kit.fontawesome.com/9271193ea3.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/music">Music</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        <nav>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-square-facebook"></i></a>
            <a href=""><i class="fa-brands fa-spotify"></i></a>
            <a href=""><i class="fa-brands fa-apple"></i></a>
            <a href=""><i class="fa-brands fa-amazon"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </nav>
    </header>
    <main>
        <h1>music //</h1>
        <nav>
            <h5>Direct Links</h5>
            <ul>
                <li><a href="#album">album</a></li>
                <li><a href="#organic">Video: Organic love</a></li>
                <li><a href="#street">Video: Street Light</a></li>
            </ul>
            <section>
                <article id="album">
                    <h4>
                        album <br> twist in my reality
                    </h4>
                    <img src="/img/emilia-play-list.png" alt="emilia-play-list">
                </article>
                <ol>
                    <li><i class="fas fa-play">Organic Love | 02:40</i></li>
                    <li><i class="fas fa-play">Twist In My Reality | 02:10</i></li>
                    <li><i class="fas fa-play">Street Light | 03:28</i></li>
                    <li><i class="fas fa-play">Love Don't Live hereAnymore (Cover) |03:49</i></li>
                </ol>
                <a href="#">Go Top</a>
            </section>
        </nav>
    </main>
</body>

</html>